/*.bloc {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    width:auto;
    

    &__plat {
        display: flex;
        flex: 1 0 10em;  
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:70%;
    

    &:hover + .bloc__check {

        transform: translateX(-100px);
        
        i {
            transform:rotate(1turn);
            background-color: red;
        }

        }
    }
}
*/

i {
    transition: all 1s ease-in-out;
}


.bloc__check {
    display: flex;
    //flex: 1 0 10em;  
    opacity: 1;
  
    //visibility: hidden;
    //display: none;
    
    //padding: 25px 45px;
    background-color: $tertiary-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    
    
    //transform-origin: right;
    margin-left: 30px;
    //transform: translateX(50px);
    transition: all 500ms ease-in-out;
}

/*.bloc__check--anim-check {

    transform: rotate(1turn);
}*/

@keyframes slide-check {
    0% {
        transform: scaleX(10px);
      
        
        
        
    }
    100% {
        transform: scaleX(50px);
        
    }
}


.bloc2 {
    display: flex;
    align-content: space-between;
    background-color: grey;
    width:auto;
    &__plat{
        width:300px;
        &:hover + .bloc2__check {
            
            transform: scaleX(4);
            background-color: red;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        } 
    }
    &__check{
        
        position: absolute;
        right:0px;
        left: 70%;
        background-color: green;
        transform: scaleX(1);
        transition: all 1s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}







