$menu-delay: 100ms;
$menus: 9;

.menu {
    @include flex;
    &__img img{
        object-fit: cover;
        height: 250px;
    }
    &__titre {
        @include flex(row);
        width:100%;
        justify-content: space-evenly;
        align-items: baseline;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-top:-60px;
        margin-bottom: 0;
        background-color: $background-color;
            & h2 {
        font-family: Shrikhand;
        font-size: 1.7rem;
        font-weight: 100;
        margin-bottom: 0;
            }
    }
    &__section {
        @include flex;
        align-items: right;
        width:100%;
        background-color: $background-color;
    }
    &__section__titre {
        width:100%;
        text-align: left;
        padding-bottom: 15px;
        & h3 {
            font-weight: 100;
            margin: 10% 0 2% 5%; 
        }
        & hr {
            height:3px;
            color:aquamarine;
            background-color:aquamarine;
            max-width:40px;
            margin:0 0 0 5%;  
            border: 0;
        }
    }
    &__section__card {
        //@include flex;
        //align-items: flex-start;
        display: grid;
        overflow: hidden;
        grid-template-columns: auto, auto, 0%;
        grid-template-rows: repeat(2, 1fr);
        width:90%;
        background-color: white;
        margin: 10px;
        border-radius: 15px;
        opacity: 0;
        box-shadow: 5px 5px 5px rgb(234, 230, 230);
        animation: menus 1.5s linear forwards;
        @for $i from 1 through $menus {
            &--#{$i} {
                  animation-delay: $menu-delay * $i;
             }
            }
    
        & h4 {
            font-weight: 900;
            margin:0;
            padding:10px 10px 5px 10px;
            width:300px;
            
        }
        & h5 {
            font-weight: 300;
            padding-right: 5px;
            margin:0;
            padding:0 10px 10px 10px;
            font-size: 0.9rem;
            
        }
        &__details {
            grid-row: 2;
            @include flex(row);
            justify-content: space-between;
            z-index: 4;
        }
        &__check {
            grid-column: 2;
            grid-row: 1 / span 2;
            display: flex;
            justify-self: center;
            align-self: center;
            padding: 25px 38px;
            background-color: $tertiary-color;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            transform: translateX(110px);
            transition: all 0.5s ease;
            z-index: 3;

        }
        &:hover .menu__section__card__check {
            visibility: visible;
            cursor: grab;
            //animation: slide-check 700ms;
            transform: translateX(-70px);
        }

        
}
}

@keyframes menus {
    0% {
      opacity:0;
      transform: translateY(20px);
      
    }

    30% {
        transform: translateY(0px);
      
    }
    100% {
        opacity:1;  
    }
    
}

@keyframes check {

    0% {
        transform:rotate(-1turn);

    }

    100% {
        transform:rotate(0);
          
    }

}

@keyframes slide-check {
    0% {
        transform: translateX(200px);
        
        
    }
    100% {
        transform: translateX(0px);
    }
}
