//$menu-delay: 400ms;
//$menus: 10;

.menu {
    @include flex;
    width:100%;
    
    &__img {
        max-height: 250px;
    }
    &__img img{
        object-fit: cover;

        @media (max-width:440px) {
        
            object-position: 0 -10px;
            }
        
        @media (min-width: 440px) and (max-width:768px) {

            object-position: 0 -50px;
        }

        @media (min-width: 768px) and (max-width:1318px) {
        
        object-position: 0 -160px;
        }

        @media (min-width: 1318px) {
        
            object-position: 0 -400px;
            }


        height: 100%;
        width: 100%;

        
    }
    &__titre {
        @include flex(row);
        width:100%;
        justify-content: space-evenly;
        align-items: baseline;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        @media (max-width:640px) {
           margin-top:-60px;
        }

        @media (min-width: 850px)  {
            margin-top: 100px;
        }

        margin-bottom: 0;
        background-color: $background-color;
            & h2 {
        font-family: Shrikhand;
        font-size: 1.7rem;
        font-weight: 100;
        margin-bottom: 0;
            }
    }
    &__section {
        @include flex;
        align-items: right;
        width:100%;
        background-color: $background-color;
    }
    &__section__titre {
        width:100%;
        text-align: left;
        padding-bottom: 15px;
        & h3 {
            font-weight: 100;
            margin: 10% 0 2% 5%; 
        }
        & hr {
            height:3px;
            color:aquamarine;
            background-color:aquamarine;
            max-width:40px;
            margin:0 0 0 5%;  
            border: 0;
        }
    }
    &__section__card {
        display: grid;
        overflow: hidden;
        cursor: grab;
        grid-template-columns: auto 0;
        grid-template-rows: repeat(2, 1fr);
        width:95%;
        background-color: white;
        margin: 10px;
        border-radius: 15px;
        opacity: 0;
        box-shadow: 5px 5px 5px rgb(234, 230, 230);
        animation: menus 1.5s linear forwards;
        @include menus-fadein(9);

        //un menu comprend un plat supplémentaire (10)
        &--10 {
            animation-delay: 4s;
        }
    
        & h4 {
            font-weight: 900;
            margin:0;
            padding:10px 10px 5px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            //width:200px;
        
        }
        & h5 {
            font-weight: 300;
            padding-right: 5px;
            margin:0;
            padding:0 10px 10px 10px;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }
        &__details {
            grid-row: 2;
            @include flex(row);
            justify-content: space-between;
            transition: all 400ms linear;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

 

            .menu__section__card__details__prix{
                overflow: visible;
                text-overflow: unset;
                white-space: normal;
            }

        }
        &__check {
            grid-column: 2;
            grid-row: 1 / span 2;
            display: flex;
            justify-self: right;
            position: relative;
            right:-120px;
            padding: 25px 25px;
            background-color: $tertiary-color;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            transform: translateX(0);
            transition: all 400ms linear;
 
        }
        
        i {
            animation: check 200ms ease-in-out;
        }

        &:hover .menu__section__card__check {
            
            visibility: visible;
            cursor: grab;
            transform-origin: right;
            transform: translateX(-110px);
            
            i {
                transform: rotate(1turn);    
            }
        }
        &:hover .menu__section__card__details {
            padding-right: 75px;
        }  
        
        &:hover h4 {
            padding-right: 75px;
        }  


}
}



@keyframes menus {
    0% {
      opacity:0;
      transform: translateY(20px);
      
    }

    30% {
        transform: translateY(0px);
      
    }
    100% {
        opacity:1;  
    }
    
}

@keyframes check {

    from {
        transform:rotate(0.5turn);
       

    }

    to {
        transform:rotate(1turn);
          
    }

}

@keyframes slide-check {
    0% {
        transform: scaleX(0);
        
        
        
    }
    100% {
        transform: scaleX(10px);
        
    }
}
