a:link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  width: auto;
}

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/shrikhand-v6-latin-regular.woff2") format("woff2"), url("fonts/shrikhand-v6-latin-regular.woff") format("woff"), url("fonts/shrikhand-v6-latin-regular.ttf") format("truetype"), url("fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("fonts/roboto-v27-latin-regular.woff") format("woff"), url("fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

h1 {
  font-size: 1.4rem;
  font-weight: 900;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
}

h3 {
  font-size: 1rem;
  font-weight: 900;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-weight: 900;
}

.loader {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #22222256;
  -webkit-animation: show  3000ms;
          animation: show  3000ms;
  z-index: 1;
}

.loader__anim {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.loader__anim__bar {
  width: 10px;
  height: 100px;
  color: #11ffee00;
  background: #fff;
  display: inline-block;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-animation: loader 1.2s linear 2;
          animation: loader 1.2s linear 2;
  opacity: 0;
}

.loader__anim__bar--1 {
  -webkit-animation-delay: 80ms;
          animation-delay: 80ms;
}

.loader__anim__bar--2 {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}

.loader__anim__bar--3 {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}

.loader__anim__bar--4 {
  -webkit-animation-delay: 320ms;
          animation-delay: 320ms;
}

.loader__anim__bar--5 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loader__anim__bar--6 {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}

.loader__anim__bar--7 {
  -webkit-animation-delay: 560ms;
          animation-delay: 560ms;
}

.loader__anim__bar--8 {
  -webkit-animation-delay: 640ms;
          animation-delay: 640ms;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: #9356DC;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: #9356DC;
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    display: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    display: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  background-color: #dddddd;
}

.gps h2 {
  color: rgba(19, 20, 20, 0.664);
  font-weight: 300;
}

.btn {
  background: linear-gradient(160deg, #fd67d3 0%, #844cc9 140%);
  color: white;
  padding: 10px 20px;
  border-style: hidden;
  border-radius: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(17, 17, 17, 0.63);
          box-shadow: 0px 0px 3px 0px rgba(17, 17, 17, 0.63);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn:hover {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.6;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
}

.btnmenu {
  margin: 30px 0 70px;
}

i {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fa--decoration01 {
  margin-right: 15px;
  margin-left: -30px;
}

.fa--decoration02 {
  padding: 25px;
}

.fa--decoration03 {
  font-size: 1.2rem;
  position: relative;
  right: -50px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  margin-bottom: 20px;
}

.fa--decoration03-full {
  font-size: 1.2rem;
  background: linear-gradient(10deg, #ff06ff 0%, #551452 70%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  position: relative;
  right: -26px;
}

.fa--decoration03alt-full {
  font-size: 1.5rem;
  background: linear-gradient(10deg, #ff06ff 0%, #551452 70%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  position: relative;
  right: 28px;
}

.rest__cards__card__info__coeur:hover .fa--decoration03-full {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.fa--decoration03alt {
  font-size: 1.5rem;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #F6F6F6;
}

.menu_titre_coeur:hover .fa--decoration03alt-full {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.menu_titre_coeur:hover .fa--decoration03alt {
  opacity: 0;
}

.rest__cards__card__info__coeur:hover .fa--decoration03 {
  opacity: 0;
}

.fa--decoration04 {
  padding-right: 10px;
  width: 20px;
}

.fa--decoration05 {
  position: absolute;
  font-size: 1.1rem;
  left: 8%;
  top: 35%;
}

.fa--decoration06 {
  color: #99E2D0;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
}

a:link, a:visited, a:active, a:hover {
  color: black;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px #c1c1c5;
          box-shadow: 0px 5px 5px 0px #c1c1c5;
  position: relative;
}

.header__logo img {
  width: 164px;
}

.footer {
  background-color: #444444;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 300;
}

.footer__logo h3 {
  font-family: Shrikhand;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 640px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer__block__nav a:visited, .footer__block__nav a:link, .footer__block__nav a:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 3px;
  margin: 0;
  font-weight: 100;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.menu__img {
  max-height: 250px;
}

.menu__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 440px) {
  .menu__img img {
    -o-object-position: 0 -10px;
       object-position: 0 -10px;
  }
}

@media (min-width: 440px) and (max-width: 768px) {
  .menu__img img {
    -o-object-position: 0 -50px;
       object-position: 0 -50px;
  }
}

@media (min-width: 768px) and (max-width: 1318px) {
  .menu__img img {
    -o-object-position: 0 -160px;
       object-position: 0 -160px;
  }
}

.menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-bottom: 0;
  background-color: #F6F6F6;
}

@media (max-width: 640px) {
  .menu__titre {
    margin-top: -60px;
  }
}

@media (min-width: 850px) {
  .menu__titre {
    margin-top: 100px;
  }
}

.menu__titre h2 {
  font-family: Shrikhand;
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 0;
}

.menu__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F6F6F6;
}

.menu__section__titre {
  width: 100%;
  text-align: left;
  padding-bottom: 15px;
}

.menu__section__titre h3 {
  font-weight: 100;
  margin: 20px 0 2% 5%;
}

.menu__section__titre hr {
  height: 3px;
  background-color: #99E2D0;
  max-width: 40px;
  margin: 0 0 0 5%;
  border: 0;
}

.menu__section__card {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-grid-columns: auto 0;
      grid-template-columns: auto 0;
  width: 95%;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 5px #eae6e6;
          box-shadow: 5px 5px 5px #eae6e6;
  -webkit-animation: menus 1.5s linear forwards;
          animation: menus 1.5s linear forwards;
}

.menu__section__card--1 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu__section__card--2 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu__section__card--3 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu__section__card--4 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.menu__section__card h4 {
  font-weight: 900;
  margin: 0;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__section__card h5 {
  font-weight: 300;
  padding-right: 5px;
  margin: 0;
  padding: 0 10px 10px 10px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__section__card__details {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__section__card__details .menu__section__card__details__prix {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.menu__section__card__check {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: right;
  position: relative;
  right: -120px;
  padding: 25px 25px;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.menu__section__card i {
  -webkit-animation: check 200ms ease-in-out;
          animation: check 200ms ease-in-out;
}

.menu__section__card:hover .menu__section__card__check {
  visibility: visible;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

.menu__section__card:hover .menu__section__card__check i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.menu__section__card:hover .menu__section__card__details {
  padding-right: 70px;
}

.menu__section__card:hover h4 {
  padding-right: 75px;
}

@-webkit-keyframes menus {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes menus {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes check {
  from {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes check {
  from {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 286px;
  background-color: #F6F6F6;
}

.titre__first {
  max-width: 250px;
  padding-top: 15px;
}

.titre__second {
  max-width: 350px;
  margin-top: 0;
}

.titre__btn {
  background-color: #ac4caf;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 35px;
}

.fct {
  padding: 35px 0;
}

@media (max-width: 1318px) {
  .fct {
    max-width: 350px;
    margin: auto;
  }
}

.fct__titre {
  padding-left: 20px;
}

.fct__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1318px) {
  .fct__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fct__nav__etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  max-width: 300px;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #444444;
}

.fct__nav__etape:hover {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
}

.fct__nav__etape:hover {
  background-color: #F5EDFF;
  color: #3c0087;
}

.fct__nav__etape__num {
  background-color: #9356DC;
  color: white;
  border-radius: 70%;
  padding: 3px 8px;
  margin-left: -10px;
}

.rest {
  background-color: #F6F6F6;
  padding: 35px 0;
}

.rest__titre {
  padding-left: 20px;
}

.rest__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 640px) {
  .rest__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rest__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px !important;
  width: 300px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 640px) {
  .rest__cards__card {
    width: 90%;
    max-width: 90%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 850px) and (max-width: 1318px) {
  .rest__cards__card {
    width: 45%;
    margin-bottom: 20px !important;
  }
}

.rest__cards__card:hover {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
          box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
}

.rest__cards__card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.rest__cards__card__img__new {
  position: absolute;
  bottom: 85%;
  right: 7%;
  background-color: #99E2D0;
  color: #278870;
  margin-top: 10px;
  padding: 0 2px;
}

.rest__cards__card__img__new h3 {
  font-size: 0.8rem;
  padding: 6px 9px;
  margin: 0;
}

.rest__cards__card__img img {
  height: 180px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.rest__cards__card__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 65px;
}

.rest__cards__card_nom {
  padding-left: -100px;
}

.rest__cards__card__info h3 {
  padding: 0 0 5px 0;
  margin: 0 0 0 -40px;
}

.rest__cards__card__info h4 {
  padding: 0 0 5px 0;
  margin: 0 0 0 -40px;
}
/*# sourceMappingURL=style.css.map */