.btn {
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color:white;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}