h1 {
    font-size: 1.4rem;
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
    font-weight: 900;
}

h3 {
    font-size: 1.1rem;
    font-weight: 900;
}

h4 {
  font-size: 1.1rem;
  font-weight: 300;
}

h5  {
  font-size: 1rem;
  font-weight: 900;
}


.fa--decoration01 {
    margin-right: 15px;
    margin-left: -30px;
}

.fa--decoration02 {
    padding:25px;

}

.fa--decoration03 {
    font-size: 1.5rem;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color:white;
    
    &:hover {
        color:$secondary-color;
    }
    
}

.fa--decoration03alt {
    font-size: 1.5rem;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: $background-color;
    
    &:hover {
        color:$secondary-color;
    }
    

}



.fa--decoration04 {
    padding-right: 10px;
}

.fa--decoration05 {
    position: absolute;
    left: 25px;
    top:25px;
}

.fa--decoration06 {
    color: $tertiary-color;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}
