.titre {
    @include flex;
    text-align: center;
    height:280px;
    background-color:$background-color;
        &__first {
            max-width:250px;
            
        }
        &__second {
            max-width:350px;
            margin-top: 0;
        }
        &__btn {
            background-color: #ac4caf; 
            border: none;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 10px 2px;
            cursor: pointer;
            border-radius: 35px; 
        }
}

.fct {
    padding: 35px 0;
    @media (max-width: 1318px) {
        max-width: 350px;
        margin: auto;
    }
    &__titre {
        padding-left:20px;
    }
    &__nav {
        @media (max-width: 1318px) {
            @include flex;
            }
            @include flex(row);


            &__etape {
                display:flex;
                align-items: center;
                background-color: $background_color;
                box-shadow: 5px 5px 5px rgb(234, 230, 230);
                border-radius: 25px;
                max-width: 350px;
                width: 90%;
                margin-bottom: 15px;
                margin-left: 20px;
                transition: all 0.5s ease-in-out;
                color: darken($color:$background-color, $amount: 70%);
                @include btn-hover;
                    &:hover{
                        background-color: $secondary-background-color;
                        color: darken($color:$secondary-background-color, $amount: 70%);
                        
                    }
                    &__num {
                        background-color: $primary-color;
                        color: white;
                        border-radius: 70%;
                        padding: 3px 8px;
                        margin-left:-10px;
                    }
                
            }
    }
}

.rest {
    background-color: $background_color;
    padding: 35px 0;
        &__titre  {
            padding-left:20px;
        }
        &__cards {
            @media (max-width: 640px) {
            @include flex;
            }
            @include flex(row);
            flex-wrap: wrap;
            justify-content: space-around;

                &__card  {
                    @include flex;
                    position:relative;
                    box-shadow: 5px 5px 5px rgb(234, 230, 230);
                    border-radius: 15px;
                    margin-bottom: 20px !important;
                    @media (max-width:640px) {
                    width:90%;
                    max-width: 90%;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-bottom: 10px !important;
                    }

                    @media (min-width: 850px) and (max-width:1318px) {
                        width:45%;
                        margin-bottom: 20px !important;
                    }

                    width: 300px;


                    
                    background-color: white;
                    transition: all 0.5s ease-in-out;

                    
                    @include btn-hover;
                        &__img {
                            display:flex;
                            flex-direction: column;
                            width:100%;
                            &__new {
                                position: absolute;
                                bottom: 85%;
                                right:7%;
                                background-color:$tertiary-color;
                                color:darken($color:$tertiary-color, $amount: 40%);
                                margin-top: 10px;
                                padding: 0 2px;
                                & h3 {
                                    font-size: 0.8rem;
                                    padding:6px 9px;
                                    margin:0;
                                } 
                            }

                            & img {
                                height:180px;
                                width:100%;
                                border-top-right-radius: 15px;
                                border-top-left-radius: 15px;
                                object-fit: cover;
                            }
                        }
                        
                        &__info {
                            width: 100%;
                            display:flex;
                            align-items:center;
                            justify-content:space-around;
                            height:65px;
                        }

                        &__info h3 {
                            @include cards-padding;

                        }
                        &__info h4 {
                            @include cards-padding;

                        }
                }
        }
}