@mixin flex($flex-direction: column) {
    display:flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
  }

  @mixin btn-hover {
    &:hover {
      cursor: grab;
      opacity:0.8;
      box-shadow: 5px 5px 5px 3px rgb(234, 230, 230);
  }
}

  @mixin menus-fadein($menus:4) {
    $menu-delay: 400ms;
    @for $i from 1 through $menus {
      &--#{$i} {
            animation-delay: $menu-delay * $i;
       }
      }
  }

  @mixin dots {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @mixin cards-padding {
    padding:0 0 5px 0;
    margin:0 -10px 0 -40px;
  }

  @mixin coeurs($size:1.2rem,$right:-26px) {
  font-size: $size;
  background: $coeur;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 1000ms;
  transform: scale(0);
  transform-origin: bottom;
  position: relative;
  right:$right;
  }