@mixin flex($flex-direction: column) {
    display:flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
  }

  @mixin btn-hover {
    &:hover {
      cursor: grab;
      opacity:0.8;
      box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.63);
  }
}

  @mixin menus-fadein($menus:9) {
    $menu-delay: 400ms;
    @for $i from 1 through $menus {
      &--#{$i} {
            animation-delay: $menu-delay * $i;
       }
      }
  }

  @mixin dots {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @mixin cards-padding {
    padding:0 0 5px 0;
    margin:0 0 0 -40px;
  }