$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color:#F6F6F6;
$secondary-background-color:#F5EDFF;
$btn:linear-gradient(180deg, rgba(235,115,218,1) 0%, rgba(165,92,220,1) 100%);
$coeur:linear-gradient(360deg, rgba(235,115,218,1) 0%, rgba(165,92,220,1) 100%);
$box-shadow: 5px 5px 5px rgb(234, 230, 230);


